/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    background: linear-gradient(45deg, #040408, #6b66bf, #883c76);
    padding: 15px 20px;
}

header .logo {
    height: 350px; /* Aumenta a altura da logo */
    margin-bottom: 10px;
}

/* Estilo da navegação */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #040408, #6b66bf, #883c76);
    transition: background 0.3s, transform 0.3s;
    display: block;
}

nav ul li a:hover {
    background: linear-gradient(45deg, #883c76, #6b66bf, #040408);
    transform: scale(1.1);
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

#home button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #040408, #6b66bf, #883c76);
    color: white;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

#home button:hover {
    background: linear-gradient(45deg, #883c76, #6b66bf, #040408);
    transform: scale(1.1);
}

/* Slider CSS */
#slider {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls span {
    cursor: pointer;
    color: white;
    font-size: 2em;
    user-select: none;
}

/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do rodapé */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}